.base-select-menu {
        margin: 4px;
        width: 94px;
        height: 40px;
        border: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3.4px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 10px rgba(10, 10, 10, .25);
            transition: all .4s;
        }
        > p {
            font-weight: 600;
            color: #888;
            margin: 4px;
        }
        > i {
            margin-top: 6px;
        }
    &:hover {
        background-color: #717fe0 !important;
        transition: all 0.4s;
    }
    &:hover p {
        color: #fff;
    }
    &:hover i {
        color: #fff;
    }
}