.base-counter {
    display: flex;
    padding: 8px;
    > div {
        width: 45px;
        height: 43px;
    }
    .decrement {
        border-radius: 4px 0 0 4px;
    }
    .increment {
        border-radius: 0px 4px 4px 0px;
    }

    .increment, .decrement {
        background-color: #fff;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        cursor: pointer;
        color: #555;
        border: solid 1px #ccc;
    }
    .content {
        background-color: #e6e6e6;
        color: #000;
        font-weight: 600;
        text-align: center;
        padding-top: 8px;
    }
}